@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.body{
    padding: 50px;

}

.calc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 8%;
    margin-left: 30%;
    height: 300px;
    width: 400px;
    background-color: black ;
    column-gap: 20px;
    row-gap: 20px;
    align-content: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

}

.num{
    background-color: gray;
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Fredoka One";


}

.num:hover{
    background-color: rgba(128, 128, 128, 0.603);
    color: white;
    font-family: "Fredoka One";
}

.resultado{
    text-align: right;
    background-color: white;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1/5;
    color: black;
    font-family: "Fredoka One";
    padding-top: 5%;
    padding-right: 5%;
    letter-spacing: 5px;
}



.sinal{
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
    display:flex;
    justify-content: center;
    align-items: center;   
    color:black;
    font-family: "Fredoka One";
}

.sinal:hover{
    background-color: rgba(255, 255, 0, 0.753);
    color:black;
    font-family: "Fredoka One";
}

.igual{
    background-color: rgb(221, 28, 28);
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
    display:flex;
    justify-content: center;
    align-items: center; 
    color:white;  
    font-family: "Fredoka One";

}

.igual:hover{
    background-color: rgba(221, 28, 28, 0.829);
    color:white;
    font-family: "Fredoka One";
}

.apagar{
    background-color: rgba(221, 28, 28, 0.678);
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
    display:flex;
    justify-content: center;
    align-items: center; 
    font-family: "Fredoka One";   
    color: white;
}

.apagar:hover{
    background-color: rgba(221, 28, 28, 0.425);
    font-family: "Fredoka One";
    color: white;
}

.numCalc{
    background-color: rgba(179, 178, 178, 0.548);
    box-shadow: 0 0 0 gray;
}

.resultt{
    font-family: "Fredoka One";
    color: black;
    font-size: large;
    vertical-align: bottom;
}
